# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore JARs but don't ignore the Gradle wrapper
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Java, logs, macOS...
*.class
*.log
*.tar.gz
hs_err_pid*
replay_pid*
.DS_Store
